/* Variables basadas en tu diseño */
:root {
  --navbar-red: #d95d5d; /* Rojo salmón */
  --text-white: #ffffff;
  --one-hundred-percent: 100%;
}
.navbar-container{
width: 100%;
display: grid;
grid-template-rows: auto auto;
/* height: 45dvh; */
}


/* CHILDREN #1 */
#children-of-navbar-1{
    

align-items: center;
width: var(--one-hundred-percent);
display: flex;
}
.logo-1-inside-navbar{
    margin-left: 10px;
    flex-grow: 1;
    svg{
        width: 50px;
        height: auto;
    }
    span{
        display: block;
        letter-spacing: 8px;
        font-size: .9rem;
    }
}
label#label-inside-children-1{
flex-grow: 2;
img{
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
    width: 25px;
        /* filter: invert(1); */
        display: block;
        position: absolute;
    }
}
input[type="search"]{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    color:black;
    text-align: center;
}
input::placeholder{
    padding-left: 35px;
    color:black;
    text-align: left;

}
.icons-inside-navbar-container{
    margin-right: 70px;
    img{
    margin-left: 10px;
    width: 30px;
    height: auto;
}
}

/* children #2 */
#children-2-of-navbar{
gap: 15px;
height: auto;
img{
width: 50px;
}
}
span.nav-category-label{
    display: block;
    color: white;
}
@media screen and (max-width:767px){
  #search{
    visibility: hidden;
  }
  }